


<h1>Add device</h1>

<p>To add a device please type the given key</p>
<input type="text" @bind:event="oninput" @bind="Text" />
<button class="btn btn-primary" @onclick=@(()=>Parent.AddDevice(Text))>Add</button>

@code {
    [CascadingParameter]
    public DeviceList Parent { get; set; }

    public string Text { get; set; }   
}
