
<PageTitle>Delete @DeviceName</PageTitle>

<h1>Delete @DeviceName?</h1>

<p>To delete the device please type "I am sure!"</p>
<input type="text" @bind:event="oninput" @bind="Text"/>
<button class="btn btn-primary" disabled="@UserNotConsented" @onclick=@(()=>Parent.Delete(DeviceName))>Delete</button>

@code {
    [CascadingParameter]
    public DeviceList Parent { get; set; }
    [Parameter]
    public string? DeviceName{ get; set; }
    private string DeleteConfirmationRequiredText = "I am sure!";
    private bool UserNotConsented { get => Text != DeleteConfirmationRequiredText; }
    public string Text { get; set; } = "";


    public void Cancel()
    {
        Parent.CancelPopup();
    }
}
